/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    position: absolute;
    z-index: 2;
    max-width: 90%;
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-family: 'Passion One', cursive;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #faac2b;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e09925;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }

    .cta-button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* Social Media Icons */
.social-media-icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Ensure icons stay on top */
}

.social-media-icons a {
    margin: 10px 0;
}

.social-media-icons img {
    width: 40px;
    height: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .social-media-icons {
        position: static;
        margin-top: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .hero-content {
        text-align: center;
    }

    .hero-logo {
        position: static;
        margin: 0 auto 20px;
        display: block;
    }

    .hero h1 {
        font-size: 36px;
    }

    .cta-button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}



#o-festiwalu {
    text-align: center;
    padding: 50px 20px;
}

#o-festiwalu h1 {
  font-family: "Passion One", sans-serif;  
  font-size: 30px;
    margin-bottom: 50px;
}

#o-festiwalu p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px; /* Adds space between paragraphs */
}

#atrakcje {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

#atrakcje h1 {
    font-family: "Passion One", sans-serif;
    font-size: 30px;
    margin-bottom: 50 px;
}

.attraction-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.attraction-item {
    text-align: center;
    width: 150px;
}

.attraction-item img {
    width: 100%;
    height: auto;
}

.attraction-item p {
    margin-top: 10px;
    font-size: 16px;
}

.attraction-description {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto 0; /* Centers the text and adds space above */
    text-align: center;
}

#zapisy {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

#zapisy h1 {
  font-family: "Passion One", sans-serif;  
  font-size: 30px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    color: #231f20;
    background-color: #f1ede4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.form-group button:hover {
    background-color: #fbc7af;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif; /* Ensuring font consistency */
}

.footer-left {
    flex: 1;
    text-align: center;
}
